<!DOCTYPE html>
<html lang="en">
   <head>
      <meta charset="utf-8">
      <title>果粒网-查路线</title>
      <link href="../../css/fruit/style.css" rel="stylesheet" type="text/css">
   </head>

  <body>
      <!-- 链接头部 -->
      <iframe name="content_frame" marginwidth=0 marginheight=0 width=100% height=100% src="../../external links/header.html" frameborder=0 scrolling="no">
      </iframe>
   
    <div id="navbar">
        <div class="wrap-scr" style="text-align: left">
           <ul id="nav">
              <li><a href="../fruit.html" >首页</a></li>
              <li  class="current"><a href="route_index.html">查线路</a></li>
              <li><a href="#">要定制</a></li>
              <li><a href="#">用户说</a></li>
           </ul>
           <span class="phone">400-00-17940</span>
         </div>
      </div>

      <div class="wrap-scr">
         <div class="box-normal mt20 selector">
            <dl>
               <dt>区域</dt>
               <dd class='current'>
                  <a href="route_index.html">不限</a></dd>
               <dd><a href="#">华东</a></dd>  
               <dd><a href="#">华中</a></dd>  
               <dd><a href="#">华南</a></dd>  
               <dd><a href="#">东北</a></dd>  
               <dd><a href="#">西南</a></dd>  
               <dd><a href="#">西北</a></dd>  
               <dd><a href="#">华北</a></dd>    
            </dl>
            <dl class="double">
               <dt>活动主题</dt>
               <dd class="current">
                  <a href="route_index.html">不限</a>
               </dd>
               <dd><a href="#">山地徒步</a></dd>
               <dd><a href="#">环湖骑行</a></dd>
               <dd><a href="#">篝火露营</a></dd>
               <dd><a href="#">沙漠穿越</a></dd>
               <dd><a href="#">海岛海钓</a></dd>
               <dd><a href="#">漂流溯溪</a></dd>
               <dd><a href="#">家庭亲子</a></dd>
               <dd><a href="#">红色党建</a></dd>
               <dd><a href="#">止境禅修</a></dd>
            </dl>
            <dl>
               <dt>出发地</dt>
               <dd class="current">
                  <a href='route_index.html'>不限</a>
               </dd>
               <dd><a href='#'>上海</a></dd>
               <dd><a href='#'>南京</a></dd>
               <dd><a href='#'>安徽</a></dd>
               <dd><a href='#'>北京</a></dd>
               <dd><a href='#'>广州</a></dd>
               <dd><a href='#'>香港</a></dd>
            </dl>
            <dl>
               <dt>价格</dt>
               <dd class="current">
                  <a href="route_index.html">不限</a>
               </dd>
               <dd><a href="#">600元以下</a></dd>
               <dd><a href="#">600-1200元</a></dd>
               <dd><a href="#">1200-2000元 </a></dd>
               <dd><a href="#">2000-3500元</a></dd>
               <dd><a href="#">3500元以上</a></dd>
            </dl>
            <dl>
               <dt>天数</dt>
               <dd class="current">
                  <a href="route_index.html">不限</a>
               </dd>
               <dd><a href="#">当天往返</a></dd>
               <dd><a href="#">2天1晚</a></dd>
               <dd><a href="#">3天2晚</a></dd> 
               <dd><a href="#">4天3晚及以上</a></dd>          
            </dl>
         </div>
         <div class="box-normal mt20" style="padding-bottom:30px;">
            <div class="tabs-lines">
               <ul class="menu">
                  <li class="current">
                     <a href="#">推荐</a>
                  </li>
                  <li>
                     <a href="#">价格
                        <span class="on-off"></span>  
                     </a>
                  </li>
               </ul>
            </div>
            <div class="line-one">
               <div class="left">
                  <a href="#"target=_blank>
                     <img src="../../images/fruit/luxian/1.jpg"width="630" height="400" alt="闯荡千岛湖！摘星望月帐篷露营 骑行烧烤皮划艇"/>
                  </a>
               </div>
               <div class="right">
                  <h3 class="title">
                  <a href="#" target=_blank>闯荡千岛湖！摘星望月帐篷露营 骑行烧烤皮划</a>
                  </h3>
                  <ul class="tags">
                     <li>篝火露营</li>
                     <li>环湖骑行</li>
                  </ul>
                  <dl class="info">
                     <dt>适合团队人数：</dt>
                     <dd>20-200</dd>
                     <dt>适合团队：</dt>
                     <dd>成熟型团队 创业团队 成长型团队 培训团队 建造企业文化团队</dd>
                     <dt>行程天数：</dt>
                     <dd>2天1夜</dd>
                     <dt>最佳出行月份：</dt>
                     <dd>3月-11月</dd>
                  </dl>
                  <label class="price"><span class="ico">¥</span> <span class="number">868.00</span>/人起</label>
               
                  <a href="#"target="_blank">详情</a>
               </div>
            </div>
            <div class="line-one">
               <div class="left">
                  <a href="#" target=_blank>
                  <img src="../../images/fruit/luxian/2.jpg" width="640" height="400" alt="安吉丨龙王山漂流浪一夏 竹博园再现“跑男”精神！"/>
                  </a>
               </div>
               <div class="right">
                  <h3 class="title">
                     <a href="#" target=_blank>安吉丨龙王山漂流浪一夏 竹博园再现“跑男”精神！</a>
                  </h3>
                  <ul class="tags">
                     <li>漂流溯溪</li>
                  </ul>
                  <dl class="info">
                     <dt>适合团队人数：</dt>
                     <dd>50-100人</dd>
                     <dt>适合团队：</dt>
                     <dd>销售团队 培训团队 精英团队</dd>
                     <dt>行程天数：</dt>
                     <dd>2天1夜</dd>
                     <dt>最佳出行月份：</dt>
                     <dd>5月-10月</dd>
                  </dl>
                  <label class="price"><span class="ico">¥</span> <span class="number">788.00</span>/人起</label>
                  <a href="#"target="_blank">详情</a>
               </div>
            </div>
            <div class="line-one">
               <div class="left">
                  <a href="#"target=_blank>
                  <img src="../../images/fruit/luxian/3.png" width="640" height="400" alt="绍兴柯岩丨夺宝奇兵并肩前行 夏日滑雪 穿越古镇千年时光"/>
                  </a>
               </div>
               <div class="right">
                  <h3 class="title">
                  <a href="#"target=_blank>绍兴柯岩丨夺宝奇兵并肩前行 夏日滑雪 穿越古镇千年时光</a>
                  </h3>
                  <ul class="tags">
                     <li></li>
                     <li></li>
                     <li></li>
                  </ul>
                  <dl class="info">
                     <dt>适合团队人数：</dt>
                     <dd>50-200人</dd>
                     <dt>适合团队：</dt>
                     <dd>销售团队 培训团队</dd>
                     <dt>行程天数：</dt>
                     <dd>2天1夜</dd>
                     <dt>最佳出行月份：</dt>
                     <dd>四季皆宜</dd>
                  </dl>
                  <label class="price"><span class="ico">¥</span> <span class="number">998.00</span>/人起</label>
                  <a href="#"class="btn-ora-m" target="_blank">详情</a>
               </div>
            </div>
            <div class="line-one">
               <div class="left">
                  <a href="#" target=_blank>
                  <img src="../../images/fruit/luxian/4.jpg" width="640" height="400" alt="岱山岛骑行丨古城定向寻宝 泥巴大战玩起来！"/>
                  </a>
               </div>
               <div class="right">
                  <h3 class="title">
                  <a href="#" target=_blank >岱山岛骑行丨古城定向寻宝 泥巴大战玩起来！</a>
                  </h3>
                  <ul class="tags">
                     <li>环湖骑行</li>
                     <li>海岛海钓</li>
                  </ul>
                  <dl class="info">
                     <dt>适合团队人数：</dt>
                     <dd>30-60人</dd>
                     <dt>适合团队：</dt>
                     <dd>销售团队 培训团队 精英团队</dd>
                     <dt>行程天数：</dt>
                     <dd>2天1夜</dd>
                     <dt>最佳出行月份：</dt>
                     <dd>5月-10月</dd>
                  </dl>
                  <label class="price"><span class="ico">¥</span> <span class="number">1280.00</span>/人起</label>
                  <a href="#" target="_blank" >详情</a>
               </div>
            </div>
            <div class="line-one">
               <div class="left">
                  <a href="#" target=_blank >
                  <img src="../../images/fruit/luxian/5.png"  width="640" height="400" alt="徒步括苍山丨团队集结令 风车体验荷兰风情"/>
                  </a>
               </div>
               <div class="right">
                  <h3 class="title">
                  <a href="#" target=_blank>徒步括苍山丨团队集结令 风车体验荷兰风情</a>
                  </h3>
                  <ul class="tags">
                     <li>山地徒步</li>
                     <li>篝火露营</li>
                  </ul>
                  <dl class="info">
                     <dt>适合团队人数：</dt>
                     <dd>20-100人</dd>
                     <dt>适合团队：</dt>
                     <dd>销售团队 培训团队 精英团队</dd>
                     <dt>行程天数：</dt>
                     <dd>3天2夜</dd>
                     <dt>最佳出行月份：</dt>
                     <dd>四季皆宜</dd>
                  </dl>
                  <label class="price"><span class="ico">¥</span> <span class="number">998.00</span>/人起</label>
                  <a href="#"  target="_blank" >详情</a>
               </div>
            </div>
            <div class="line-one">
               <div class="left">
                  <a href="#" target=_blank >
                  <img src="../../images/fruit/luxian/6.jpg"  width="630" height="400" alt="峡谷探幽·夏日亲水丨 溯溪徒步 海滩露营 嗨翻檀头山岛"/>
                  </a>
               </div>
               <div class="right">
                  <h3 class="title">
                  <a href="#" target=_blank >峡谷探幽·夏日亲水丨 溯溪徒步 海滩露营 嗨翻檀头山岛</a>
                  </h3>
                  <ul class="tags">
                     <li>山地徒步</li>
                     <li>篝火露营</li>
                     <li>漂流溯溪</li>
                  </ul>
                  <dl class="info">
                     <dt>适合团队人数：</dt>
                     <dd>20-50人</dd>
                     <dt>适合团队：</dt>
                     <dd>创业团队 销售团队 社团活动 毕业旅行</dd>
                     <dt>行程天数：</dt>
                     <dd>3天2夜</dd>
                     <dt>最佳出行月份：</dt>
                     <dd>6月-10月</dd>
                  </dl>
                  <label class="price"><span class="ico">¥</span> <span class="number">1200.00</span>/人起</label>
               <a href="#" target="_blank" >详情</a>
             </div>
           </div>
           <div class="line-one">
               <div class="left">
                  <a href="#" target=_blank>
                  <img src="../../images/fruit/luxian/7.jpg" width="630" height="400" alt="临安蝴蝶谷溯溪丨穿越原始峡谷 让我们一起逆流而上"/>
                  </a>
               </div>
               <div class="right">
                  <h3 class="title">
                  <a href="#" target=_blank>临安蝴蝶谷溯溪丨穿越原始峡谷 让我们一起逆流而上</a>
                  </h3>
                  <ul class="tags">
                     <li>漂流溯溪</li>
                     <li></li>
                     <li></li>
                  </ul>
                  <dl class="info">
                     <dt>适合团队人数：</dt>
                     <dd>15-35人</dd>
                     <dt>适合团队：</dt>
                     <dd>销售团队，培训团队</dd>
                     <dt>行程天数：</dt>
                     <dd>2天1夜</dd>
                     <dt>最佳出行月份：</dt>
                     <dd>6月-10月</dd>
                  </dl>
                  <label class="price"><span class="ico">¥</span> <span class="number">680.00</span>/人起</label>
                  <a href="#"  target="_blank" >详情</a>
             </div>
           </div>
           <div class="line-one">
               <div class="left">
                  <a href="#" target=_blank >
                  <img src="../../images/fruit/luxian/8.jpg"  width="900" height="600" alt="井空里 ·溯溪徒步│山谷消夏 团队撒欢大闯关！"/>
                  </a>
               </div>
               <div class="right">
                  <h3 class="title">
                     <a href="#" target=_blank >井空里 ·溯溪徒步│山谷消夏 团队撒欢大闯关</a>
                  </h3>
                  <ul class="tags">
                     <li>漂流溯溪</li>
                     <li></li>
                     <li></li>
                  </ul>
                  <dl class="info">
                     <dt>适合团队人数：</dt>
                     <dd>20-60人</dd>
                     <dt>适合团队：</dt>
                     <dd>创业团队、销售团队、成长型团队</dd>
                     <dt>行程天数：</dt>
                     <dd>2天1夜</dd>
                     <dt>最佳出行月份：</dt>
                     <dd>6月-9月</dd>
                  </dl>
                  <label class="price"><span class="ico">¥</span> <span class="number">718.00</span>/人起</label>
                  <a href="#" target="_blank" >详情</a>
               </div>
            </div>
            <div class="line-one">
               <div class="left">
                  <a href="#" target=_blank >
                     <img src="../../images/fruit/luxian/9.jpg"  width="630" height="400" alt="穿越腾格里丨通往神秘边塞 团队探索沙漠之旅"/>
                  </a>
               </div>
               <div class="right">
                  <h3 class="title">
                  <a href="#" target=_blank >穿越腾格里丨通往神秘边塞 团队探索沙漠之旅</a>
                  </h3>
                  <ul class="tags">
                     <li>篝火露营</li>
                     <li>沙漠穿越</li>
                     <li></li>
                  </ul>
                  <dl class="info">
                     <dt>适合团队人数：</dt>
                     <dd>20-50人</dd>
                     <dt>适合团队：</dt>
                     <dd>精英团队、高管团队、成熟型团队</dd>
                     <dt>行程天数：</dt>
                     <dd>5天4夜</dd>
                     <dt>最佳出行月份：</dt>
                     <dd>4月-9月</dd>
                  </dl>
                  <label class="price"><span class="ico">¥</span> <span class="number">3499.00</span>/人起</label>
                  <a href="#" target="_blank" >详情</a>
               </div>
            </div>
            <div class="line-one">
               <div class="left">
                  <a href="#" >
                     <img src="../../images/fruit/luxian/10.jpg"  width="630" height="400" alt="徒步丹巴吉林丨相约探寻沙山明湖 同行穿越黄沙星辰"/>
                  </a>
               </div>
               <div class="right">
                  <h3 class="title">
                     <a href="#" target=_blank >徒步丹巴吉林丨相约探寻沙山明湖 同行穿越黄沙星辰</a>
                  </h3>
                  <ul class="tags">
                     <li>篝火露营</li>
                     <li>沙漠穿越</li>
                     <li></li>
                  </ul>
                  <dl class="info">
                     <dt>适合团队人数：</dt>
                     <dd>15-30人</dd>
                     <dt>适合团队：</dt>
                     <dd>成熟型团队 高管团队 培训团队 </dd>
                     <dt>行程天数：</dt>
                     <dd>5天4夜</dd>
                     <dt>最佳出行月份：</dt>
                     <dd>4月-9月</dd>
                  </dl>
                  <label class="price"><span class="ico">¥</span> <span class="number">3888.00</span>/人起</label>
 
                  <a href="#" target="_blank">详情</a>
               </div>
            </div>
         </div>
     </div>
     
     <!-- 链接脚部 -->
   <iframe name="content_frame" marginwidth=0 marginheight=0 width=100% height="350px" src="../../external links/foot.html" frameborder=0 scrolling="no" >
   </iframe>

     <script type="text/javascript" src="../../contr/unuon.js" ></script>
     <script src="../../js/fruit/jquery-1.10.1.min.js" type="text/javascript"></script>

     <script type="text/javascript">
      $(document).ready(function(){
       $('#nav li').eq(1).siblings('li').removeClass("current");
       $('#nav li').eq(1).addClass("current");
       $('dd').click(function(){
         $(this).siblings('dd').removeClass("current");
         $(this).addClass("current");
       });

       $('.menu li').click(function(){
         $(this).siblings('li').removeClass("current");
         $(this).addClass("current");
       });
      })
     </script>
     <script>
     var _hmt = _hmt || [];
     (function() {
       var hm = document.createElement("script");
       hm.src = "../../hm.baidu.com/hm.js-90d46685e44a8d548140fb0a27a0ce94";
       var s = document.getElementsByTagName("script")[0];
       s.parentNode.insertBefore(hm, s);
     })();
     </script>
  </body>
</html>