<!DOCTYPE html>
<html lang="en">
   <head>
      <meta charset="utf-8">
      <title>果粒网</title>

      <link rel="shortcut icon" type="image/x-icon" />
      <link href="../css/fruit/style-homepage.css" rel="stylesheet" type="text/css">
      <script type="text/javascript" src="../contr/stats/"></script>
      <script src="../js/fruit/jquery.min.js"></script>
      <script src="../js/fruit/unslider.min.js"></script>
      <script src="../js/fruit/easySlider1.5.js"></script>

      

   </head>
   <body>
      <!-- 链接头部 -->
      <iframe name="content_frame" marginwidth=0 marginheight=0 width=100% height=100% src="../external links/header.html" frameborder=0 scrolling="no">
      </iframe>
   
    <div id="navbar">
        <div class="wrap-scr" style="text-align: left">
           <ul id="nav">
              <li class="current"><a href="./fruit.html" >首页</a></li>
              <li><a href="../views/route/route_index.html">查线路</a></li>
              <li><a href="#">要定制</a></li>
              <li><a href="#">用户说</a></li>
           </ul>
           <span class="phone">400-00-17940</span>
         </div>
      </div>

  <div class="homepage-slide">
   <div class="banner">
      <ul class="slide">
         <li>
            <a href="#" target="_blank" >
               <img src="../images/fruit/banner/1.jpg">
            </a>
         </li>
         <li>
            <a href="#" target="_blank">
               <img src="../images/fruit/banner/2.jpg">
            </a>
         </li>
         <li>
            <a href="#" target="_blank">
               <img src="../images/fruit/banner/3.jpg">
            </a>
         </li>
         <li>
            <a href="#" target="_blank">
               <img src="../images/fruit/banner/4.jpg">
            </a>
         </li>  
      </ul>
         <div class="arrows">
            <div class="arrow prev">←</div>
            <div class="arrow next">→</div>
         </div>
      </div>
   </div>
   <div id="ourads">
      <img src="../images/fruit/img/homepage_ourad.png" width="1200" height="45" alt=""/>
   </div>
   <div id="selected">
      <h3 class="homepage-title">当季精选</h3>
      <div class="wrap-scr">
         <div class="wrap-over">
            <div class="selected-one"> 
               <a href="#" target="_blank">
                  <div class="pic">
                     <img src="../images/fruit/dangji/1.jpg" width="900" height="600"/>
                  </div>
                  <h5>漂流溯溪</h5>
                  <h4>井空里 ·溯溪徒步│山谷消夏 团队撒欢大闯关！</h4>
                  <label class="price">
                     <span class="ico">¥</span> 
                     <span class="number">718.00</span>/人起
                  </label>
               </a>
            </div>
            <div class="selected-one"> 
               <a href="#" target="_blank">
                  <div class="pic">
                    <img src="../images/fruit/dangji/2.jpg" width="285" height="180"/>
                  </div>
                  <h5>篝火露营</h5>
                  <h4>闯荡千岛湖！摘星望月帐篷露营 骑行烧烤皮划艇</h4>
                  <label class="price">
                     <span class="ico">¥</span>
                     <span class="number">868.00</span>/人起
                  </label>
               </a>
            </div>
            <div class="selected-one"> 
               <a href="#" target="_blank">
                  <div class="pic">
                     <img src="../images/fruit/dangji/3.jpg" width="285" height="180"/>
                  </div>
                  <h5>漂流溯溪</h5>
                  <h4>临安蝴蝶谷溯溪丨穿越原始峡谷 让我们一起逆流而上</h4>
                  <label class="price">
                     <span class="ico">¥</span>
                     <span class="number">680.00</span>/人起
                  </label>
               </a>
            </div>
            <div class="selected-one"> 
               <a href="#" target="_blank">
                  <div class="pic">
                     <img src="../images/fruit/dangji/4.jpg" width="285" height="180"/>
                  </div>
                  <h5>山地徒步</h5>
                  <h4>峡谷探幽·夏日亲水丨 溯溪徒步 海滩露营 嗨翻檀头山岛</h4>
                  <label class="price">
                     <span class="ico">¥</span>
                     <span class="number">1200.00</span>/人起
                  </label>
               </a>
            </div>
            <div class="selected-one"> 
                <a href="#" target="_blank" >
                  <div class="pic">
                     <img src="../images/fruit/dangji/5.png" width="285" height="180"/>
                  </div>
                  <h5>山地徒步</h5>
                  <h4>徒步括苍山丨团队集结令 风车体验荷兰风情</h4>
                  <label class="price">
                     <span class="ico">¥</span>
                     <span class="number">998.00</span>/人起
                  </label>
               </a>
            </div>
            <div class="selected-one"> 
               <a href="#" target="_blank">
                  <div class="pic">
                     <img src="../images/fruit/dangji/6.jpg" width="285" height="180"/>
                  </div>
                  <h5>环湖骑行</h5>
                  <h4>岱山岛骑行丨古城定向寻宝 泥巴大战玩起来！</h4>
                  <label class="price">
                     <span class="ico">¥</span>
                     <span class="number">1280.00</span>/人起
                  </label>
               </a>
            </div>
            <div class="selected-one"> 
               <a href="#" target="_blank">
                  <div class="pic">
                     <img src="../images/fruit/dangji/7.png" width="285" height="180"/>
                  </div>
                  <h5>绍兴柯岩</h5>
                  <h4>绍兴柯岩丨夺宝奇兵并肩前行 夏日滑雪 穿越古镇千年时光</h4>
                  <label class="price">
                     <span class="ico">¥</span> 
                     <span class="number">998.00</span>/人起
                  </label>
               </a>
            </div>
            <div class="selected-one"> 
               <a href="#" target="_blank">
                  <div class="pic">
                     <img src="../images/fruit/dangji/8.jpg" width="285" height="180"/>
                  </div>
                  <h5>漂流溯溪</h5>
                  <h4>安吉丨龙王山漂流浪一夏 竹博园再现“跑男”精神！</h4>
                  <label class="price">
                     <span class="ico">¥</span>
                     <span class="number">788.00</span>/äººèµ·
                  </label>
               </a>
            </div>
            <div class="selected-more">
               <a href="#" class="btn-wht-m">更多路线</a>
            </div>
         </div>
     </div>
   </div>
   <div id="teambuilding">
      <h3 class="homepage-title">团队建设</h3>
      <div class="wrap-scr">
         <div class="wrap-over">
            <div class="teambuilding-one">
               <a href="#" >
                  <div class="pic">
                     <img src="../images/fruit/tubiao/homepage1.jpg" width="265" height="265" alt=""/>
                  </div>
                  <div class="txt">定向赛</div>
               </a>
            </div>
            <div class="teambuilding-one">
               <a href="#">
                  <div class="pic">
                  <img src="../images/fruit/tubiao/homepage2.jpg" width="265" height="265" alt=""/>
                  </div>
                  <div class="txt">基地拓展</div>
               </a>
            </div>
            <div class="teambuilding-one">
               <a href="#" >
                  <div class="pic">
                  <img src="../images/fruit/tubiao/homepage3.jpg" width="265" height="265" alt=""/>
                  </div>
                  <div class="txt">主题拓展</div>
               </a>
            </div>
            <div class="teambuilding-one">
               <a href="#">
                  <div class="pic">
                  <img src="../images/fruit/tubiao/homepage4.jpg" width="265" height="265" alt=""/>
                  </div>
                  <div class="txt">沙盘课程</div>
               </a>
            </div>
         </div>
      </div>
   </div>

   <div id="star-guides">
      <h3 class="homepage-title">明星领队</h3>
      <div class="wrap-scr">
         <div id="guidestar">
            <div class="slice1">
            <div class="slice2" id="slider">
               <ul>
                  <li>
                     <div class="wrap-over">
                        <div class="star-guides-one">
                           <div class="pic">
                              <img src="../images/fruit/leader/1.jpg" height="135" width="135">
                           </div>
                           <h4>丽丽</h4>
                           <p>果粒网专业领队，08年加入人众人集团上海学校，一直活跃在培训第一线，丰富的工作经验，主攻心理咨询、EAP员工发展计划项目，热爱培训行业。</p>
                           <span class="customers">服务过
                              <em class="orange">1300</em>位客户
                           </span>
                        </div>
                        <div class="star-guides-one">
                           <div class="pic">
                              <img src="../images/fruit/leader/2.jpg">
                           </div>
                           <h4>明明</h4>
                           <p>果粒网专业户外领队，在常规场地，拓展野外项目以及室内体验式培训等方面均有丰富的实战经验曾参与主持过“思维定向”、“七巧板”等大型拓展培训课程。</p>
                           <span class="customers">服务过
                              <em class="orange">1500</em>位客户
                           </span>
                        </div>
                        <div class="star-guides-one">
                           <div class="pic">
                              <img src="../images/fruit/leader/3.jpg">
                           </div>
                           <h4>元元</h4>
                           <p>果粒网专业户外领队，极强的安全意识，获国际户外体验式培训国际认证及安全指导资质证，中国红十字会急救证书，曾在济南军区某部侦查大队服役。</p>
                           <span class="customers">服务过
                              <em class="orange">2100</em>位客户
                           </span>
                        </div>
                        <div class="star-guides-one">
                           <div class="pic">
                              <img src="../images/fruit/leader/4.jpg">
                           </div>
                           <h4>郭子</h4>
                           <p>果粒网专业户外领队，丰富的团队拓展培训经验，多次带领客户野外生存挑战和徒步穿越，具有强烈使命感、责任心，极强的亲和力及应变能力。</p>
                           <span class="customers">服务过
                              <em class="orange">1620</em>位客户
                           </span>
                        </div>
                     </div>
                  </li>
                  <li>
                     <div class="wrap-over">
                        <div class="star-guides-one">
                           <div class="pic">
                              <img src="../images/fruit/leader/5.jpg">
                           </div>
                           <h4>小歪</h4>
                           <p>果粒网专业户外领队，服务过数家企业团队、社团活动、亲子活动的户外徒步、骑行、定向赛活动。具有亲和力，深受客户好评。</p>
                           <span class="customers">服务过<em class="orange">350</em>位客户</span>
                        </div>
                        <div class="star-guides-one">
                           <div class="pic">
                              <img src="../images/fruit/leader/6.jpg">
                           </div>
                           <h4>爱军</h4>
                           <p>果粒网专业户外领队，擅长带领徒步穿越、亲子户外团队、户外骑行、露营等线路。性格开朗、热情、细心、暖男，具备专业的户外知识，摄影技术佳。</p>
                           <span class="customers">服务过<em class="orange">816</em>位客户</span>
                        </div>
                        <div class="star-guides-one">
                           <div class="pic">
                              <img src="../public/images/leader/7.jpg">
                           </div>
                           <h4>棒冰</h4>
                           <p>果粒网资深领队，有丰富的戈壁沙漠徒步等户外经验，服务过中欧商学院等多家社团组织及企业。多次组织大型团队定向赛、公司年会等活动。</p>
                           <span class="customers">服务过<em class="orange">1200</em>位客户</span>
                        </div>
                        <div class="star-guides-one">
                           <div class="pic">
                              <img src="../public/images/leader/8.jpg">
                           </div>
                           <h4>Oliver</h4>
                           <p>果粒网专业户外领队，专业骑行10余年，服务过多家沪上知名大型企业，具备专业的职业素养和户外知识，性格热情、阳光。</p>
                           <span class="customers">服务过<em class="orange">820</em>位客户</span>
                        </div>
                     </div>
                  </li>
                  <li>
                     <div class="wrap-over">
                        <div class="star-guides-one">
                           <div class="pic">
                              <img src="../public/images/leader/9.jpg">
                           </div>
                           <h4>芮冰</h4>
                           <p>果粒网专业户外领队。非常热爱旅行，有多年的户外旅行带队经验。性格开朗，热情大方，性格幽默风趣。责任心强，在服务客户的同时，也是客户的好玩伴，能带给客户轻松愉悦的旅行乐趣。</p>
                           <span class="customers">服务过<em class="orange">1268</em>位客户</span>
                        </div>
                        <div class="star-guides-one">
                           <div class="pic">
                              <img src="../public/images/leader/10.jpg">
                           </div>
                           <h4>BoBo</h4>
                           <p>果粒网专业户外领队，热爱旅游，有多年的户外组织团队活动经验。对工作认真负责。为人亲和，服务细心周到。带队期间，得到广大客户信赖与支持。</p>
                           <span class="customers">服务过<em class="orange">926</em>位客户</span>
                        </div>
                        <div class="star-guides-one">
                           <div class="pic">
                              <img src="../public/images/leader/11.jpg">
                           </div>
                           <h4>东东</h4>
                           <p>果粒网金牌户外教练，具备十年以上领队经验，曾在沪上知名大型拓展公司担任拓展培训师，熟练操作户外急救措施性格开朗、热心、做事严谨。</p>
                           <span class="customers">æœåŠ¡è¿‡<em class="orange">1980</em>位客户</span>
                        </div>
                     </div>
                  </li>
               </ul>
            </div>
         </div>
      </div>
       
      <p id="controls"> 
         <span id="prevBtn">
            <a href="javascript:void(0);"></a>
         </span> 
         <span id="nextBtn">
            <a href="javascript:void(0);"></a>
         </span>
      </p>
       
     </div>
   </div>

   <!-- 链接脚部 -->
   <iframe name="content_frame" marginwidth=0 marginheight=0 width=100% height="350px" src="../external links/foot.html" frameborder=0 scrolling="no" >
   </iframe>

   <script type="text/javascript" src="../contr/unuon.js"></script>
   <!-- 隐藏多余 -->
   <script>
         var _hmt = _hmt || [];
         (function() {
           var hm = document.createElement("script");
           hm.src = "../controller/hm.js-9";
           var s = document.getElementsByTagName("script")[0];
           s.parentNode.insertBefore(hm, s);
         })();
         </script>
         
         <script type="text/javascript">
         $(document).ready(function(){ 
           $("#guidestar").easySlider({
             controlsBefore: '<p id="controls">',
             controlsAfter:  '</p>',
             auto: true, 
             continuous: true
           }); 
         }); 
      </script>
   <!-- 轮播效果 -->
   <script>
      $('#nav li').eq(0).siblings('li').removeClass("current");
      $('#nav li').eq(0).addClass("current");
         if(window.chrome) {
            $('.banner li').css('background-size', '100% 100%');
         }

         $('.banner').unslider({
            arrows: true,
            fluid: false,
            dots: true
         });
         $('a[href^="#"]').click(function() {
            var target = $($(this).attr('href'));
            var pos = target.offset(); 
            if(pos) {
               $('html, body').animate({
                  scrollTop: pos.top,
                  scrollLeft: pos.left
               }, 1000);
            }
            return false;
         });
        
         var unslider = $('.banner').unslider();
         $('.unslider-arrow').click(function() {
            var fn = this.className.split(' ')[1];
            unslider.data('unslider')[fn]();
         }); 
      </script>
   </body>
</html>