@charset "utf-8";
/* CSS Document */
* {margin:0;padding:0;}
body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,form,fieldset,input,textarea,p,blockquote,th,td {margin:0;padding:0;}
table {border-collapse:collapse;border-spacing:0;}
fieldset,img {border:0;}
address,caption,cite,code,dfn,em,strong,th,var {font-style:normal;font-weight:normal;}
ol,ul,li {list-style:none;}
caption,th {text-align:left;}
h1,h2,h3,h4,h5,h6 {font-size:100%;font-weight:normal;}
abbr,acronym {border:0;}
a {text-decoration:none;color:#5a5a5a;}
a:hover {text-decoration:none;color:#f28000;}
body {color: #5a5a5a;font-size:14px;line-height:1.5em;font-family: Helvetica, Tahoma, Arial, "Microsoft YaHei", "微软雅黑", SimSun, "宋体", STXihei, "华文细黑", Heiti, "黑体", sans-serif;background:#f6f6f6 url("../../images/fruit/tubiao/body_footerbg.jpg"/*tpa=http://www.guoli.com/Public/home/images/body_footerbg.jpg*/) no-repeat center bottom;}
h1,h2,h3,h4,h5,h6 {font-family: Helvetica, Tahoma, Arial, "Microsoft YaHei", "微软雅黑", SimSun, "宋体", STXihei, "华文细黑", Heiti, "黑体", sans-serif;}
::-moz-placeholder {color:#aaa;opacity:1!important;}
:-ms-input-placeholder {color:#aaa;}
::-webkit-input-placeholder {color:#aaa;}
.wrap-scr {width:1200px;margin:0 auto;overflow:auto;zoom:1;}
.left {float:left;}
.right {float:right;}
.orange {color:#f28000;}
.green {color:#40b29b;}
.box-normal {border:1px solid #ddd;background:#fff;}
.mt20 {margin-top:20px;}

/* reset bootstrap */
* {box-sizing:content-box;}
dt,label {font-weight:normal;}

/* button */
.btn-ora-m {display:block;width:150px;height:36px;text-align:center;color:#fff;font-size:16px;line-height:36px;border:1px solid #f28000;border-radius:4px;background: -webkit-gradient(linear, 0 0, 0 bottom, from(#f39529), to(#f28000));background-color:#f28000;}
.btn-ora-m:hover {color:#fff;background:#f28000;cursor:pointer;}
.btn-ora-b {display:block;width:165px;height:44px;text-align:center;color:#fff;font-size:16px;line-height:44px;border:1px solid #f28000;border-radius:4px;background: -webkit-gradient(linear, 0 0, 0 bottom, from(#f39529), to(#f28000));background-color:#f28000;font-weight:bold;}
.btn-ora-b:hover {color:#fff;background:#f28000;cursor:pointer;}

/* page-nav */
.pagination{overflow:auto;zoom:1;}
.page-top,.page-bottom{float:left;}
.pagination a,.page-cur {float:left;height:30px;margin:0 10px 0 0;text-align:center;white-space:nowrap;vertical-align:middle;line-height:30px;}
.pagination a {padding:0 12px;border:solid 1px #ccc;background-color:#fff;}
.pagination a:hover{border:solid 1px #f28000;text-decoration:none;background:#f28000;color:#fff;}
.page-cur{border:none;padding:0 12px;font-weight:bold;color:#f28000;}
.pagination .current {float:left;height:30px;margin:0 10px 0 0;text-align:center;white-space:nowrap;vertical-align:middle;line-height:30px;border:none;padding:0 12px;font-weight:bold;color:#f28000;}

/* header */
#header {height:150px;background:#fff;overflow:hidden;}
#header .main {height:100px;}
#logo {float:left;}
#logo a {display:block;width:160px;height:48px;margin:26px 40px 0 0;text-indent:-9999em;background:url("../../images/fruit/tubiao/header_logo.png") no-repeat 0 0;}
#slogan {float:left;font-size:15px;line-height:100px;}
#slogan {float:left;width:250px;text-indent:-9999em;background:url("../../images/fruit/tubiao/header_slogan.png") no-repeat 0 39px;}
#navbar {height:50px;background:#f28000;}
#nav li {float:left;font-size:18px;}
#nav li a {display:block;padding:0 60px;line-height:50px;color:#fff;}
#nav li a:hover {background:#df7600;}
#nav .current a {background:#f93;}
#nav .current a:hover {background:#f93;}
#navbar .phone {display:block;float:right;width:209px;height:50px;background:url("../../images/fruit/tubiao/header_phone.png") no-repeat 0 9px;text-indent:-9999em;}
.search_func {float:right;margin-top:30px;width:450px;height:40px;background:url("../../images/fruit/tubiao/search_mainbg.png") no-repeat 0 0;}
.search_func .left {width:320px;padding:2px 2px 2px 48px;height:36px;}
.search_func .left input {border:none;font-size:14px;color:#525252;height:36px;width:300px;}
.search_func .right {width:80px;height:40px;}
.search_func .right input {display:block;width:80px;height:40px;color:#fff;font-size:16px;border:none;padding:0;margin:0;background:none;cursor:pointer;}

/* footer */
#footer {width:100%;margin-top:60px;background:#56626a;color:#fff;}
#footer a {color:#fff;}
#footer .wrap-scr {height:186px;}
#footer .menu {font-size:16px;word-spacing:1em;margin-top:60px;}
#footer .copyright {word-spacing:2em;margin-top:30px;}
#footer .right {float:right;width:106px;padding-top:40px;text-align:center;font-size:12px;color:#b7bbbe;}
#footer .right img {display:inline-block;}
#footer .links {border-top:1px solid #646f76;text-align:center;padding-top:30px;height:83px;}
#footer .links img {display:inline-block;margin:0 30px;}

/* selector */
.selector {padding:0 30px;}
.selector dl {border-bottom:1px solid #eee;padding:14px 0;line-height:28px;height:30px;overflow:hidden;overflow:auto;zoom:1;}
.selector dt {float:left;width:150px;line-height:30px;}
.selector dd {float:left;margin-right:12px;}
.selector dd a {display:block;padding:0 10px;border:1px solid #fff;}
.selector dd a:hover {border:1px solid #eee;border-radius:4px;}
.selector .current a {border:1px solid #f28000;border-radius:4px;color:#f28000;}
.selector dl:last-child {border:none}
.selector dl.double {height:72px;padding-bottom:8px;}
.selector dl.double dt {margin-bottom:10px;}
.selector dl.double dd {margin-bottom:6px;}

/* 加热标签 */
.selector dl {overflow:visible;}
.selector dd.ico-hot {position:relative;}
.selector dd.ico-hot i {position:absolute;top:-11px;right:-9px;width:17px;height:22px;background:url("../../images/fruit/tubiao/tag-hot.png") no-repeat 0 0;}

/* tabs-lines */
.tabs-lines {border-bottom:1px solid #e6e6e6;}
.tabs-lines .menu {background: -webkit-gradient(linear, 0 0, 0 bottom, from(#fafafa), to(#f6f6f6));background-color:#f6f6f6;}
.tabs-lines .menu li {display:inline-block;position:relative;border-right:1px solid #e6e6e6;}
.tabs-lines .menu .current {border-bottom:1px solid #fff;margin-bottom:-1px;background:#fff;}
.tabs-lines .menu li a {line-height:50px;display:block;padding:0 40px;}
.tabs-lines .menu .current a {color:#f28000;}
.tabs-lines .menu li span {display:inline-block;width:10px;height:12px;background:url("../../images/fruit/tubiao/ico-order-prcie.png") no-repeat 0 0;margin:0 0 0 6px;}
.tabs-lines .menu li span.on-up {background-position:-10px 0;}
.tabs-lines .menu li span.on-down {background-position:-20px 0;}

/* lines */
.line-one {padding:30px;height:320px;overflow:hidden;}
.line-one .left {width:500px;height:320px;overflow:hidden;position:relative;}
.line-one .left .price {position:absolute;left:0;bottom:30px;height:48px;padding:0 12px;background:rgba(0,0,0,0.8);color:#fff;line-height:48px;}
.line-one .left .price .number {font-size:28px;}
.line-one .right {position:relative;width:608px;height:320px;overflow:hidden;}
.line-one .title {font-size:24px;line-height:48px;text-overflow:ellipsis;white-space:nowrap;overflow:hidden;}
.line-one .tags {line-height:22px;color:#fff;overflow:auto;zoom:1;margin-top:6px;}
.line-one .tags li {float:left;background:#56626a;border-radius:3px;margin-right:12px;padding:0 6px;}
.line-one .info {line-height:30px;margin-top:16px;}
.line-one .info dt {float:left;width:110px;}
.line-one .btn-ora-m {position:absolute;bottom:0;right:0;}
.line-one .price {position:absolute;left:0;bottom:0;color:#f28000;}
.line-one .price .ico {font-size:16px;}
.line-one .price .number {font-size:36px;}
.lines-pagination {padding:30px 30px 60px;}

/* 没有找到符合要求的线路 */
.box-warning {border:1px solid #faeddb;background:#fffdf9;margin:30px 30px 0;padding:30px 40px;}
.box-warning .warn-tit {display:block;line-height:48px;font-size:16px;text-indent:90px;background:url("../../images/fruit/tubiao/ico_warning.png") no-repeat 0 0;}

/* 线路详情 */
#linepage h1 {font-size:36px;text-overflow:ellipsis;overflow:hidden;white-space:nowrap;line-height:1.5em;margin-top:33px;}
.linepage-top {margin-top:33px;overflow:auto;zoom:1;}
.linepage-top .left {width:640px;}
.linepage-top .right {width:499px;height:398px;padding:0 30px;background:#fff;border:1px solid #ddd;border-left:none;}
.plan-info {line-height:28px;height:280px;padding-top:22px;}
.plan-info-one {overflow:auto;zoom:1;}
.plan-info-one label {float:left;width:78px;}
.plan-info-one .con {margin-left:78px;}
.plan-info-one .tags {line-height:22px;color:#fff;overflow:auto;zoom:1;margin-top:6px;}
.plan-info-one .tags li {float:left;background:#56626a;border-radius:3px;margin-right:12px;padding:0 6px;}
.plan-price {height:46px;line-height:38px;}
.plan-price .price {display:block;float:left;margin-right:10px;color:#f28000;}
.plan-price .price .ico {font-size:16px;}
.plan-price .price .number {
	font-size: 36px;
	font-weight: normal;
}
.plan-price .more {display:block;float:left;text-decoration:underline;margin-top:8px;}
.plan-price .btn-ora-m {float:right;}
.plan-share {border-top:1px solid #e6e6e6;height:50px;}
.plan-share dl {padding-top:13px;}
.plan-share dt {float:left;width:80px;}
.plan-share dd {float:left;margin-right:16px;}
.plan-share dd a {display:block;width:24px;height:24px;text-indent:-9999em;background:url("../../images/fruit/tubiao/share_01.png") no-repeat 0 0;}
.plan-share .weixin a:hover {background-position:0 -24px;}
.plan-share .weibo a {background-position:-24px 0;}
.plan-share .weibo a:hover {background-position:-24px -24px;}
.linepage-bot {margin-top:30px;}

.linepage-top .right {position:relative;}
.plan-info {line-height:24px;height:auto;padding-top:20px;}
.linepage-top .right-b {position:absolute;bottom:10px;left:30px;right:30px;}
.price-intro-170512 {clear:both;border-top:1px solid #e8e8e8;font-size:12px;padding-top:10px;color:#aaa;}

/* 滑动监听 */
.scrollcontent {background:#fff;border:1px solid #ddd;border-top:none;padding:30px;}
.scrollitem {overflow:auto;zoom:1;border-bottom:4px solid #eee;padding-bottom:30px;margin-bottom:30px;}
.scrollitem .left {width:100px;}
.scrollitem .right {width:998px;overflow:hidden;font-size:16px;line-height:1.8em;}
.scrollitem .right img {display:block;margin:20px 0;}

.tuiding {background:#fffdf9;border:2px solid #fdf8f1;padding:30px 30px 30px 138px;font-size:16px;line-height:1.8em;}

/* 线路详情幻灯 */
#line-slide {width:640px;height:400px;overflow:hidden;}
#line-slide a {blr: expression(this.onFocus=this.blur());outline:none;}
.pkgslide {width:640px;height:400px;margin:0;position:relative;overflow:hidden;}
.pkgslide .num {overflow:hidden;height:12px;position:absolute;bottom:15px;right:30px;zoom:1;z-index:3;}
.pkgslide .num li {width:12px;height:12px;overflow:hidden;text-indent:-9999em;margin-left:10px;border-radius:50%;cursor:pointer;float:left;background:rgba(0,0,0,0.5);}
.pkgslide .num li.on { background: #fff; } /*当前项*/
.pkgslide .num li a img {width:640px;height:400px;}
.pkgpics img {display:block;width:640px;height:400px;}
/*上一个  下一个*/
.pkgslide .prev,
.pkgslide .next { display: none; width: 40px; height: 100px; background: url("../../images/fruit/tubiao/btn.png") no-repeat; position: absolute; top: 150px;}
.pkgslide .prev { left: 0; }
.pkgslide .next { right: 0; background-position: right }

/* 更多价格 */
.plan-price .price-info {position:relative;display:block;float:left;background:url("../../images/fruit/tubiao/ico_price_moreinfo.png") no-repeat 0 0;width:24px;height:24px;}
.pop-price {position:absolute;display:none;bottom:30px;left:-40px;padding:8px;background:#fff;color:#5a5a5a;-o-box-shadow: 0 5px 10px rgba(0,0,0,.2);-ms-box-shadow: 0 5px 10px rgba(0,0,0,.2);-moz-box-shadow: 0 5px 10px rgba(0,0,0,.2);-webkit-box-shadow: 0 5px 10px rgba(0,0,0,.2);box-shadow: 0 5px 10px rgba(0,0,0,.2);border:1px solid #fae1bd;background:#fffdf9;}
.pop-price ul {overflow:auto;zoom:1;width:350px;line-height:30px;background:#fff;padding:20px;line-height:18px;}
.pop-price li {margin:8px 0;}
.plan-price .price-info:hover .pop-price {display:block;}

/* 关于果粒网 */
.about-pagename {height:135px;background:#54bfb5 url("../../images/fruit/tubiao/about_bg_long.png") no-repeat center top;}
.about-pagename h2 {line-height:135px;font-size:36px;color:#fff;}
.mt60 {margin-top:60px;}
.clearfix {overflow:auto;zoom:1;}
.aboutus {line-height:2em;font-size:16px;}
.aboutus .left {width:200px;}
.aboutus .right {width:758px;padding:70px 120px 120px;}
.aboutus .right img {display:block;margin:60px 0;}
.aboutus .right p {text-indent:2em;margin:1em 0;}
.aboutus .right h3 {font-weight:bold;margin:1em 0;text-indent:2em;}
.aboutus .right h2 {font-size:2em;margin:1em 0;}
.aboutus .right ul {margin-left:2em;}
.nav-aboutus {padding:80px 20px;}
.nav-aboutus li {border-bottom:1px solid #eee;text-align:center;padding:24px 0;}
.nav-aboutus li a {display:block;line-height:18px;}
.nav-aboutus .current a {border-left:4px solid #f28000;color:#f28000;}
.get-job {display:block;text-align:right;text-decoration:underline;margin:1em 0;}
.protocol {padding:100px 120px 120px;}

#about-gl {line-height:2em;font-size:16px;}
#about-gl .tabs {float:left;width:160px;padding:80px 20px;line-height:18px;}
#about-gl .tab {display:block;border-bottom:1px solid #eee;padding:24px 0;cursor:pointer;}
#about-gl .tab span {display:block;border-left:4px solid #fff;padding-left:30px;}
#about-gl .curtab  {color:#f28000;}
#about-gl .curtab span {border-left:4px solid #f28000;}
#about-gl .tabcontent {float:right;width:758px;padding:70px 120px 120px;}
#about-gl .tabcontent img {display:block;margin:60px 0;}
#about-gl .tabcontent p {text-indent:2em;margin:1em 0;}
#about-gl .tabcontent h3 {font-weight:bold;margin:1em 0;text-indent:2em;}
#about-gl .tabcontent h2 {font-size:2em;margin:1em 0;}
#about-gl .tabcontent ul {margin-left:2em;}

/* 帮助中心 */
#help-ct {line-height:2em;font-size:16px;}
#help-ct .tabs {float:left;width:160px;padding:80px 20px;line-height:18px;}
#help-ct .tab {display:block;border-bottom:1px solid #eee;padding:24px 0;cursor:pointer;}
#help-ct .tab span {display:block;border-left:4px solid #fff;padding-left:30px;}
#help-ct .curtab  {color:#f28000;}
#help-ct .curtab span {border-left:4px solid #f28000;}
#help-ct .tabcontent {float:right;width:758px;padding:70px 120px 120px;}
#help-ct .tabcontent img {display:block;margin:60px 0;}
#help-ct .tabcontent p {text-indent:2em;margin:1em 0;}
#help-ct .tabcontent h3 {font-weight:bold;margin:1em 0;text-indent:2em;}
#help-ct .tabcontent h2 {font-size:2em;margin:1em 0;}
#help-ct .tabcontent ul {margin-left:2em;}
#help-ct .tabcontent h4 {margin:1em 0;font-size:16px;color:#f28000;}

/* 专属定制 */
#dingzhi-mainbody {padding-top:520px;min-height:700px;background:url("../../images/fruit/tubiao/dingzhi_pagebg.jpg") no-repeat center top;}
#dingzhi-mainbody .left {width:880px;}
#dingzhi-mainbody .right {width:300px;}
#dingzhi-form {padding:0 30px;}
#dingzhi-form .item-title {font-size:22px;color:#f28000;line-height:100px;border-bottom:1px solid #eee;}
#dingzhi-form .item-title .tip {font-size:14px;padding-left:20px;color:#5a5a5a;}
#dingzhi-form .item-title .tip .txt {}
#dingzhi-form th,#dingzhi-form td {vertical-align:top;line-height:38px;padding:12px 0;border-bottom:1px solid #eee;}
#dingzhi-form td ul {overflow:auto;zoom:1;}
#dingzhi-form td li {float:left;width:20%;}
#dingzhi-form .btn-ora-b {margin:60px auto 0;}
.input-dingzhi {border:1px solid #ddd;background:#fafafa;font-size:14px;padding:8px;color:5a5a5a;}
#dingzhi-steps h3 {line-height:50px;font-size:16px;padding-left:20px;border-bottom:1px solid #e6e6e6;background:-webkit-gradient(linear, 0 0, 0 bottom, from(#fafafa), to(#f6f6f6));background-color:#f6f6f6;}
#dingzhi-steps .con {padding:20px;}
#dingzhi-steps dl {margin-top:20px;line-height:24px;}
.star-size {font-size:18px;}

/* 咨询旅行顾问 */
#greenboard-gw img {display:block;}

.saylist-one {padding:19px 39px 19px 19px;margin-top:30px;height:350px;overflow:hidden;}
.saylist-one .left {width:560px;position:relative;}
.saylist-one .left .logo {position:absolute;top:20px;left:20px;width:70px;height:70px;background:#fff;border:2px solid #fff;border-radius:50%;overflow:hidden;}
.saylist-one .left .logo img {width:70px;height:70px;}
.saylist-one .right {width:530px;height:350px;position:relative;}
.saylist-one .right h3 {font-size:20px;line-height:24px;color:#5a5a5a;margin-top:20px;}
.saylist-one .tags {line-height:22px;color:#fff;overflow:auto;zoom:1;margin-top:6px;margin-top:15px;}
.saylist-one .tags li {float:left;background:#56626a;border-radius:3px;margin-right:12px;padding:0 6px;}
.saylist-one .info {color:#aaa;margin-top:20px;}
.saylist-one .saycon {line-height:2em;margin-top:20px;}
.saylist-one  .btn-ora-m {position:absolute;bottom:0;}

/* 用户说详情 */
.exp-header {height:180px;overflow:hidden;}
.exp-header h1 {font-size:36px;font-weight:bold;line-height:1.2em;margin-top:35px;text-overflow:clip;white-space:nowrap;overflow:hidden;}
.exp-header .tags {line-height:22px;color:#fff;overflow:auto;zoom:1;margin-top:6px;margin-top:15px;}
.exp-header .tags li {float:left;background:#56626a;border-radius:3px;margin-right:12px;padding:0 6px;}
.exp-header p {margin-top:15px;font-size:16px;}


/* 用户说详情幻灯 */
#exp-slide {width:1200px;height:550px;overflow:hidden;border-radius:6px;position:relative;}
#exp-slide a {blr: expression(this.onFocus=this.blur());outline:none;}
.expslide {width:1200px;height:550px;margin:0;position:relative;overflow:hidden;}
.expslide .num {overflow:hidden;height:12px;position:absolute;bottom:43px;left:600px;margin-left:-30px;zoom:1;z-index:3;}
.expslide .num li {width:12px;height:12px;overflow:hidden;text-indent:-9999em;margin-left:10px;border-radius:50%;cursor:pointer;float:left;background:#a6acb0;}
.expslide .num li.on { background: #f28000; } /*当前项*/
.expslide .num li a img {width:1200px;height:480px;}
.exppics img {display:block;width:1200px;height:480px;}
/*上一个  下一个*/
.expslide .prev,.expslide .next {display:none;width:0;height:0;overflow:hidden;}

.exp-brandstory {position:absolute;top:0;right:30px;width:350px;height:450px;background:rgba(255,255,255,0.95);z-index:999;border-radius:0 0 10px 10px;}
.exp-brandstory .wrap {padding:40px 30px 30px;height:380px;}
.exp-brandstory .logo {width:90px;height:90px;margin:0 auto;background:#fff;border:4px solid #fff;border-radius:50%;overflow:hidden;-o-box-shadow: 0 5px 10px rgba(0,0,0,.2);-ms-box-shadow: 0 5px 10px rgba(0,0,0,.2);-moz-box-shadow: 0 5px 10px rgba(0,0,0,.2);-webkit-box-shadow: 0 5px 10px rgba(0,0,0,.2);box-shadow: 0 5px 10px rgba(0,0,0,.2);}
.exp-brandstory .logo img {width:90px;height:90px;}
.exp-brandstory .txt {margin-top:35px;width:290px;height:247px;overflow:auto;font-size:16px;line-height:2em;text-indent:2em;}

.exp-main {overflow:auto;zoom:1;}
.exp-main .left {width:900px;}
.exp-main .right {width:280px;}
.exp-content {position:relative;}
.exp-content .con {padding:49px 49px 49px 199px;width:650px;overflow:hidden;}
.exp-content .con img {display:block;margin-bottom:20px;width:100%;}
.exp-ico {position:absolute;top:49px;left:49px;width:100px;height:96px;background:url("../../images/fruit/tubiao/pic-expico.png"/*tpa=http://www.guoli.com/Public/home/images/pic-expico.png*/) no-repeat 0 0;}
.say-side {padding:39px 29px;}
.say-side .photo {width:80px;height:80px;overflow:hidden;margin:0 auto;}
.say-side .txt {line-height:2em;margin-top:20px;}
.say-side .txt dt {font-size:1.2em;margin-bottom:10px;}


/* 具体线路定制 */
#dzxl {margin-top:40px;}
#dzxl .upper {height:250px;padding:29px;border-bottom:1px solid #ededed;}
#dzxl .upper .pic {float:left;width:400px;height:250px;}
#dzxl .upper .pic img {width:400px;height:250px;}
#dzxl .upper .txt {position:relative;float:right;width:710px;height:250px;}
#dzxl .upper .txt h3 {font-size:28px;margin-bottom:0.5em;}
#dzxl .upper .txt .plan-info-one {line-height:28px;}
#dzxl .upper .txt .plan-price {position:absolute;bottom:0;}
#dzxl .lower {padding:50px 29px 200px;overflow:auto;zoom:1;}
#dzxl .lower .left {width:400px;}
#dzxl .lower .right {width:710px;}

#old-plan h4 {font-size:20px;margin-bottom:1em;}
#old-plan .contentbox {background:#eff4f9;padding:20px;}
#old-plan .contentbox ul {line-height:2em;}
#old-plan .contentbox li {margin:1em 0;}

#new-plan h4 {font-size:20px;margin-bottom:1em;color:#aaa;}
#new-plan .contentbox {background:#fffdf9;padding:20px;border:1px solid #ffcc92;}
#new-plan th,#new-plan td {vertical-align:top;line-height:34px;padding:10px 0;}
#new-plan th {text-align:right;padding-right:10px;}
#new-plan .input-dingzhi2 {border:1px solid #ccc;}
#new-plan .btn-ora-b {margin-top:40px;}
#new-plan td select {padding:4px;}

/* 团队建设 */
.mt40 {margin-top:40px;}
.topbanner {display:block;margin:0;}
.tb-wrap {border:1px solid #ddd;border-top:none;background:#fff;padding:50px 149px;font-size:18px;line-height:2em;}
.tb-wrap p {text-indent:2em;}
.tb-wrap .row {padding:0;margin:0;margin-top:50px;}
.tb-wrap .pull-left {width:190px;}
.tb-wrap .pull-right {width:660px;}
.tb-wrap .pull-right h3 {font-size:2em;line-height:2em;}
.tb-wrap .pull-right img {display:block;width:600px;margin:1em auto 3em;}
.tb-wrap .nav {font-size:18px;}

/*sidenav*/
.bs-docs-sidebar {
	padding-left:0;
	padding-top:10px;	
}
.bs-docs-sidenav {
	margin-top:0;
}
.bs-docs-sidebar .nav>li>a {
	display:block;
	padding:8px 0;
	font-size:16px;
	color:#999;
	font-style:italic;
}
.bs-docs-sidebar .nav>li>a>span {
	display:none;
}
.bs-docs-sidebar .nav>li>a:focus,
.bs-docs-sidebar .nav>li>a:hover {
	padding-left:0;
	color:#f28000;
	border-left:none;
}
.bs-docs-sidebar .nav>.active:focus>a,
.bs-docs-sidebar .nav>.active:hover>a,
.bs-docs-sidebar .nav>.active>a {
	padding-left:0;
	border-left:none;
	color:#f28000;
}
.bs-docs-sidebar .nav>.active:focus>a>span,
.bs-docs-sidebar .nav>.active:hover>a>span,
.bs-docs-sidebar .nav>.active>a>span {
	display:inline;
	font-size:10px;
}
