*{margin: 0;padding: 0;}
.box{ 
	width: 600px;
	background: #fcfcfc;
	

	margin: 0 auto;
	line-height: 38px;
	text-indent: 25px;
	}
.box h5{ 
	background: #fcfcfc url(../../images/+.jpg) no-repeat right center;
	line-height: 30px;

	border: 2px solid #f9d6aa;
	border-radius: 8px;
	font-size: 16px;
	color: #f48700;
}
.jiange{border: 2px solid white;}
.box ul{ 
	list-style: none;
	background: #fcfcfc;

	
}
.box ul li{
	background: #faf8f8;
	font-size: 14px;
}
/* 减号 */
.box h5.current{background: #fcfcfc url(../../images/-.jpg) no-repeat right center;}

.work_left{float: left; font-size: 18px;}